/* ======================================================
   OEFENEN MET FLEXBOX
========================================================= */
.one {


    display: grid;



}

.one p   {

    display: flex;
    justify-self: ;
}






/* Schrijf hier  jouw CSS! */